<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>
    {% if page.title %} {{ page.title }}{% else %}{{ site.title }}{% endif %}
  </title>
  <link rel="icon" href="{{ site.url }}/assets/img/logo.jpg">
  <meta name="description" content="{{ site.description }}">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ site.url }}/assets/css/main.css">
  <meta name="description" content="{{ site.description }}">
  <meta name="viewport" content="width=device-width">
</head>
